:root {
  --sidebar-bg: #16161e;
  --sidebar-text: #ffffffa6;
  --sidebar-text-active: #ffffff;
  --sidebar-active-bg: #1890ff;
  --main-bg: #f5f7fa;
  --header-bg: #fff;
  --header-border: #e4e7ed;
}

html.dark {
	--color-primary: #60a5fa;
	--el-color-white: #000;

  --color-bg: #0f172a;
  --color-bg-soft: #020617;

  --color-text: #f8fafc;
  --color-text-muted: #94a3b8;

  --color-border: #334155;
	--main-bg: #141414;
	--header-bg: #1d1d1d;
	--header-border: #363637;

	--el-color-black: #0b0d11;
  --el-color-primary: #7230da;          /* deep purple */
  --el-color-primary-light-3: #905ce1;  /* lighter */
  --el-color-primary-light-5: #905ce1;  /* even lighter */
  --el-color-primary-light-7: #905ce1;
  --el-color-primary-light-8: #905ce1;
  --el-color-primary-light-9: #905ce1;  /* very light backgrounds */
  --el-color-primary-dark-2: #905ce1;   /* pressed/active */

	--header-bg: #16161e;

	--el-color-success: #37f499;
	--el-color-warning: #f7c67f;
	--el-color-danger: #f16c75;
	--el-color-error: #f16c75;
	--el-color-info: #04d1f9;

}

.el-tag {
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.3s, background-color 0.3s;
}
